<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xbmchina.multidatasourceatomikos.mapper.SysUserMapper">

    <resultMap type="cn.xbmchina.multidatasourceatomikos.domain.SysUser" id="UserResult">
        <id property="userId" column="id"/>
        <result property="userName" column="name"/>
    </resultMap>

    <select id="selectUserList" parameterType="cn.xbmchina.multidatasourceatomikos.domain.SysUser"
            resultMap="UserResult">
        select * from user
    </select>

    <update id="update" parameterType="cn.xbmchina.multidatasourceatomikos.domain.SysUser">
        UPDATE user set name = #{userName} where id = #{userId}
    </update>

</mapper>